*.pdf
myenv/*
.DS_Store/*
*.DS_Store
*.wav
# !downloaded_audio.wav
*.mp3
.env
api/myenv/*
# Ignore all .txt files
*.txt

# Exclude requirements.txt from being ignored
!requirements.txt
vrenv/*
terraform-ecs-dockerhub/*